<app-header titulo='Log de riegos del sensor' [activeBackButton]=true>
</app-header>
<ion-content>
    <table>
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Apertura</th>
        </tr>
        <tr *ngFor="let e of logsRiego">
            <td>{{e.logRiegoId}}</td>
            <td>{{e.fecha | fechaPipe }}</td>
            <td *ngIf="e.apertura == 0" appResaltar>Cerrado</td>
            <td *ngIf="e.apertura > 0">{{e.apertura/100 | percent}}</td>
        </tr>
    </table>
</ion-content>